<!DOCTYPE html>
<html>
<head>
    <title>My Shop</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <!-- Include your custom CSS -->
    <link rel="stylesheet" href="{% static 'shop/css/shop_base.css' %}">

    {% block custom_css %}
    {% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My Shop</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'shop:products_list' %}">Products</a>
                </li>
                {% if customer_id %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'shop:cart' %}">Cart</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'shop:order_status' %}">Order Status</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="btn btn-danger" href="{% url 'shop:customer_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item mr-3">
                    <a class="btn btn-primary" href="{% url 'shop:customer_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Page content -->
    <div class="container-fluid">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
